.FastSearch {
  position: relative;
}

@media (max-width: 768px) {
  .FastSearch {
    display: none;
  }
}

.FastSearch--Thin {
  margin: -110px auto 96px !important;
}

.FastSearch__SamoContainer#fast_search {
  background: transparent!important;
  font-family: inherit;
}

/* Кнопки сверху */

.FastSearch .FastSearch__SamoContainer#fast_search .searchmodes {
  display: flex;
}

.FastSearch .FastSearch__SamoContainer#fast_search .searchmodes .panel {
  max-width: 250px;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.FastSearch .FastSearch__SamoContainer#fast_search .searchmodes .panel .searchmode_button {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* / Кнопки сверху */



.FastSearch__Row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFC;
  border-radius: 3px;
  margin: 3px;
}

.FastSearch .FastSearch__SamoContainer#fast_search .FastSearch__Row > td {
  padding: 0;
}

.FastSearch .FastSearch__SamoContainer#fast_search .FastSearch__RowTitleText {
  display: none;
}

.FastSearch .FastSearch__SamoContainer#fast_search .FastSearch__RowAdults {
  display: flex;
  align-items: center;
}

.FastSearch .FastSearch__SamoContainer#fast_search .FastSearch__RowChildren {
  display: flex;
  align-items: center;
}

.FastSearch__RowTourists .FastSearch__RowColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FastSearch__RowDate .FastSearch__RowColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Тонкая версия */

.FastSearch--Thin .FastSearch__SamoContainer#fast_search .FastSearch__RowsContainer {
  display: block;
  height: 70px;
  border-radius: 0;
  box-shadow: 0px 2px 8px hsl(0deg 0% 88%);
  width: 100%;
}

.FastSearch--Thin .FastSearch__RowsContainer > tbody {
  display: grid;
  grid-template-areas: "country tour clients days submit";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 0;
}

/* / Тонкая версия */


.FastSearch__RowState {
  grid-area: country;
}

.FastSearch__RowTour {
  grid-area: tour;
}

.FastSearch__RowCategory {
  grid-area: category;
  display: none;
}

.FastSearch__RowHotel {
  grid-area: hotel;
  display: none;
}

.FastSearch__RowDate {
  grid-area: days;
}

.FastSearch__RowTourists {
  grid-area: clients;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FastSearch__RowPrice {
  display: none;
}

.FastSearch__RowSearchButton {
  grid-area: submit;
}








#fast_search {
  margin: 0;
  display: block !important;
}

#fast_search .n1 {
  width: 305px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#fast_search td {
  text-align: right;
  font-size: 12px;
}

#fast_search td.l {
  text-align: left;
}
#fast_search td.b select {
  width: 215px;
}

#fast_search td.l select, #fast_search td.l .price {
  width: 88px;
}

#fast_search td.r {
  padding-right: 5px;
}
#fast_search td.r select {
  width: 60px;
}

#fast_search .PRICE_MAX {
  width: 84px;
}

#fast_search .load {
  padding: 1px 8px;
}
#fast_search .small_shadow {
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

#fast_search .submit {
  text-align: right;
}

#fast_search .submit input {
  margin: 0px;
}

/* <SEARCHMODES> */

#fast_search.search_tour .searchmodes .searchmode_tour,
#fast_search.search_crosstour .searchmodes .searchmode_crosstour,
#fast_search.search_excursion .searchmodes .search_excursion,
#fast_search.search_hotel .searchmodes .searchmode_hotel {
  padding: 10px 20px;
}

#fast_search.search_tour .searchmodes .searchmode_tour a.searchmode_button,
#fast_search.search_crosstour .searchmodes .searchmode_crosstour a.searchmode_button,
#fast_search.search_excursion .searchmodes .searchmode_excursion a.searchmode_button,
#fast_search.search_hotel .searchmodes .searchmode_hotel a.searchmode_button {
  padding: 0;
  background-color: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  cursor: default;
}

#fast_search.search_hotel .townfrom-filter,
#fast_search.search_tour .category-filter {
  display: none;
}

#fast_search.search_tour .townfrom-filter,
#fast_search.search_hotel .category-filter  {
  display: table-row;
}
.NIGHTS_TILL_chosen,.ADULT_chosen,.CHILD_chosen,.CURRENCY_chosen{
  max-width: 87px;
}
.TOWNFROMINC_chosen,.STATEINC_chosen,.TOURINC_chosen,.HOTELS_chosen,.STARS_chosen{
  max-width: 233px;
}

/* </SEARCHMODES> */





.FastSearch--Thin .samo_container .panel,
#modalContainer div.modalTitle,
#logonContainer div.modalTitle {
  background-color: white;
}
.rh-fast-search-big [data-searchmode="cl_wizard"] {
  display: none;
}
.searchmodes .panel {
  width: 250px;
}
.searchmodes .searchmode_hotel {
  width: 250px;
}
.FastSearch--Thin .samo_container .searchmodes .searchmode .searchmode_button {
  background-color: #2a5d2e;
  color: white;
  box-shadow: none;
}

.FastSearch--Thin #fast_search .height-62 {
  height: 62px;
}
.FastSearch--Thin #fast_search .rh-margin-right-40 {
  margin-right: 0;
}
.FastSearch--Thin #fast_search .rh-padding-bottom-15 {
  padding-bottom: 15px;
}
.FastSearch--Thin #fast_search .category-filter.flex {
  display: flex;
}
.FastSearch--Thin #fast_search .rh-bg-gold {
  background: linear-gradient(
    89.36deg,
    #d8bb58 -53.59%,
    #ecd26e -33.86%,
    #f4db76 -21.39%,
    #e9cc65 4.9%,
    #cea53a 56.52%,
    #c99f33 64.39%
  );
}

.FastSearch--Thin #fast_search .chosen-container {
  color: black;
  max-width: none;
}
.FastSearch--Thin #fast_search .chosen-single {
  padding: 8px;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}
.FastSearch--Thin #fast_search .chosen-single span {
  display: block;
}
.FastSearch--Thin #fast_search .chosen-single div {
  position: relative;
}

.FastSearch--Thin .samo_container .yesnoplace,
.FastSearch--Thin .samo_container .even .yesnoplace,
.FastSearch--Thin .samo_container .odd .yesnoplace {
  background-color: #007355 !important;
  color: white !important;
}