.footer {
  background-image: url("./images/footer-bg-image.png");

  &__over-bg {
    background: rgba(40, 92, 45, 0.5);
  }

  &__divider {
    height: 3px;
    background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  }
}