.header {
  &__top-section {
    background: #F9F9F9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  &__open-sidebar-button {
    background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
    border-radius: 15px 0px 0px 15px;
  }

  &__number-text-color {
    color: #285C2D;
  }
}
