<div class="REEvents" id="resort-expert-events">
  <div class="REEvents__Controls">
    <div class="REEvents__Month">
      <div class="REEvents__MonthSwitchButtons">
        <button @click="switchToPrevMonth" class="REEvents__MonthSwitchButton REEvents__MonthSwithButton--Prev">
          <img class="REEvents__MonthSwitchButtonImage" src="./assets/images/to-left-month-arrow.svg" alt="to-left-month-arrow">
        </button>
        <button @click="switchToNextMonth" class="REEvents__MonthSwitchButton REEvents__MonthSwithButton--Next">
          <img class="REEvents__MonthSwitchButtonImage" src="./assets/images/to-right-month-arrow.svg" alt="to-right-month-arrow">
        </button>
      </div>
      <div class="REEvents__MonthDisplay">{{ currentMonthAndYearDisplay }}</div>
    </div>
    <div class="REEvents__CityAndDisplay">
      <div class="REEvents__City">
        <select v-model="city" class="REEvents__CitySelect">
          <option v-for="city in cityOptions" :key="city" :value="city">{{ city }}</option>
        </select>
      </div>
      <div class="REEvents__DisplaySwitchButtons">
        <button v-if="asCalendar" @click="switchToShowAsCalendar" class="REEvents__DisplaySwitchButton">
          <img class="REEvents__DisplaySwitchButtonImage" src="./assets/images/re-calendar-active.svg" alt="re-calendar-active">
        </button>
        <button v-else @click="switchToShowAsCalendar" class="REEvents__DisplaySwitchButton">
          <img class="REEvents__DisplaySwitchButtonImage" src="./assets/images/re-calendar-inactive.svg" alt="re-calendar-inactive">
        </button>
        <button v-if="!asCalendar" @click="switchToShowAsList" class="REEvents__DisplaySwitchButton">
          <img class="REEvents__DisplaySwitchButtonImage" src="./assets/images/re-list-active.svg" alt="re-list-active">
        </button>
        <button v-else @click="switchToShowAsList" class="REEvents__DisplaySwitchButton">
          <img class="REEvents__DisplaySwitchButtonImage" src="./assets/images/re-list-inactive.svg" alt="re-list-inactive">
        </button>
      </div>
    </div>
  </div>
  <div v-if="asCalendar" class="REEvents__Calendar">
    <div v-for="displayDate in currentMonthDaysToDisplay" :key="displayDate.id" class="REEvents__CalendarItem">
      <div class="REEvents__CalendarItemInner">
        <div v-if="!displayDate.empty" class="REEvents__CalendarItemInfo">
          <div class="REEvents__CalendarItemDayInfo">
            <div class="REEvents__CalendarItemWeekDay">{{ weekDayNumberoString(displayDate.weekDayNumber) }}</div>
            <div class="REEvents__CalendarItemDayNumber">{{ dayNumberToZeroNotation(displayDate.dayNumber) }}</div>
          </div>
          <div v-if="displayDate.hasEvent" class="REEvents__CalendarItemEventInfo">
            <calendar-trigger v-for="event in displayDate.events" :event="event"></calendar-trigger>
          </div>
        </div>
        <div v-else style="opacity: 0; height: 100%; width: 100%;">empty</div>
      </div>
    </div>
  </div>
  <div v-else class="REEvents__ListContainer">
    <ul class="REEvents__List">
      <li v-for="item in itemsToDisplayAsList" class="REEvents__ListItem">
        <re-tour-card v-if="item.type_id === '9'" :item="item"></re-tour-card>
        <re-dinner-card v-if="item.type_id === '8'" :item="item"></re-dinner-card>
        <re-meet-card v-if="item.type_id === '7'" :item="item"></re-meet-card>
        <re-webinar-card v-if="item.type_id === '6'" :item="item"></re-webinar-card>
        <re-training-card v-if="item.type_id === '5'" :item="item"></re-training-card>
        <re-seminar-card v-if="item.type_id === '4'" :item="item"></re-seminar-card>
      </li>
    </ul>
    <div v-if="canShowMore" class="REEvents__ShowMoreButtonContainer">
      <button @click="showMore" class="REEvents__ShowMoreButton">
        <div class="REEvents__ShowMoreButtonInner">Показать больше</div>
      </button>
    </div>
  </div>
</div>

<!-- Should be exact order -->

@@include("./re-components/re-form-tour.html")
@@include("./re-components/re-form.html")
@@include("./re-components/re-tour-card.html")
@@include("./re-components/re-dinner-card.html")
@@include("./re-components/re-meet-card.html")
@@include("./re-components/re-webinar-card.html")
@@include("./re-components/re-training-card.html")
@@include("./re-components/re-seminar-card.html")
@@include("./re-components/re-calendar-trigger.html")
@@include("./re-components/re-events-vue.html")