<div class="PopupForm PopupForm--Telegram Telegram" id="telegram-form-vue">
  <div class="PopupForm__Screenlock"></div>
  <div class="PopupForm__Content">
    <div class="PopupForm__Title">
      <div class="PopupForm__TitleText">Я работаю в туризме, <br>хочу вступить в закрытую <br>группу Telegram.</div>
      <button class="PopupForm__TitleClose">
        <img src="./assets/images/icons/close-icon.svg" alt="close">
      </button>
    </div>
    <form class="PopupForm__Form" @submit.prevent="sendToBackend">
      <input class="PopupForm__TextInput" v-model="job" required type="text" placeholder="*Я работаю в:">
      <input class="PopupForm__TextInput" v-model="email" required type="email" placeholder="*Ваш email">
      <div class="PopupForm__CheckboxContainer">
        <input class="PopupForm__Checkbox" type="checkbox" v-model="agree">
        <label class="PopupForm__CheckboxLabel">Согласен с <a href="#"><u>Положением об обработке и защите персональных данных</u></a></label>
      </div>
      <button class="PopupForm__SubmitButton" type="submit">Отправить запрос</button>
      <success-message v-if="showSuccess"></success-message>
    </form>
  </div>
</div>
<script>
  new Vue({
    el: "#telegram-form-vue",

    data: {
      agree: false, 
      job: "", 
      email: "", 
      showSuccess: false,
    },

    methods: {
      sendToBackend() {
        if (!this.agree) return;

        const payload = {
          "work_place": this.job,
          "email": this.email,
        };

        fetch("https://resort-holiday.com/api/forms/?type=join_to_tg", {
          method: "POST",
          body: JSON.stringify(payload),
        }).then(response => {
          this.showSuccess = true;
          setTimeout(() => {
            this.showSuccess = false;
          }, 2000);
          this.job = "";
          this.email = "";
        }).catch(function (error) {
          console.log("Error to post Telegram form data", error);
        });
      },
    },
  });
</script>