<div class="PopupForm PopupForm--Tourists Tourists" id="tourists-form-vue">
  <div class="PopupForm__Screenlock"></div>
  <success-message v-if="showSuccess"></success-message>
  <div class="PopupForm__Content" style="background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('./assets/images/feedback-bg.jpg')">
    <div class="PopupForm__ContentLeft">
      <img class="PopupForm__Logo" src="./assets/images/logo.svg" alt="logo">
      <div class="PopupForm__Country">Россия</div>
      <div class="PopupForm__Address">Москва, Новодмитровская 2, кор. 1<br>Савеловский Сити, башня Goodman</div>
      <div class="PopupForm__PhonesBlock">
        <img class="PopupForm__PhoneIcon" src="./assets/images/icons/gold-phone-icon.svg" alt="phone">
        <div class="PopupForm__Phones">
          <a class="PopupForm__Phone" href="#">+7 495 266-63-77</a>
          <a class="PopupForm__Phone" href="#">+7 800 100-19-70</a>
        </div>
      </div>
      <div class="PopupForm__MailContainer">
        <a class="PopupForm__MailLink" href="#">info@resort-holiday.com</a>
      </div>
    </div>
    <div class="PopupForm__ContentRight">
      <div class="PopupForm__Title">
        <div class="PopupForm__TitleText">Оставить заявку на отдых</div>
        <button class="PopupForm__TitleClose">
          <img src="./assets/images/icons/close-icon.svg" alt="close">
        </button>
      </div>
      <form class="PopupForm__Form" @submit.prevent="sendToBackend">
        <input class="PopupForm__TextInput" type="text" v-model="name" placeholder="*Меня зовут">
        <input class="PopupForm__TextInput" type="text" v-model="email" placeholder="*Мой email">
        <input class="PopupForm__TextInput" type="tel"  v-model="phone" placeholder="*Мой телефон (+7)">
        <input class="PopupForm__TextInput" type="text" v-model="dates" placeholder="*Хочу поехать в такие даты:">
        <div class="PopupForm__NumbersContainer">
          <div class="PopupForm__NumberBlock">
            <div class="PopupForm__NumberInfo">*На</div>
            <div class="PopupForm__NumberInputs">
              <div class="PopupForm__NumberInputContainer">
                <input class="PopupForm__NumberInput" type="number" value="0" v-model="nights"><span class="PopupForm__NumberLabel">Ночей</span>
              </div>
            </div>
          </div>
          <div class="PopupForm__NumberBlock">
            <div class="PopupForm__NumberInfo">*Поедут</div>
            <div class="PopupForm__NumberInputs">
              <div class="PopupForm__NumberInputContainer">
                <input class="PopupForm__NumberInput" type="number" value="0" v-model="adults"><span class="PopupForm__NumberLabel">Взрослых</span>
              </div>
              <div class="PopupForm__NumberInputContainer">
                <input class="PopupForm__NumberInput" type="number" value="0" v-model="children"><span class="PopupForm__NumberLabel">детей</span>
              </div>
            </div>
          </div>
        </div>
        <input class="PopupForm__TextInput" type="text" v-model="childrenAge" placeholder="*Возраст детей (если есть)">
        <div class="PopupForm__Text">*В поле ниже Вы можете оставить все свои пожелания по отдыху (например: тип питания, тип виллы, тип трансфера, бюджет, что вам нравится на отдыхе, что не нравится, какие услуги вам еще понадобятся, какой-то конкретный отель и т.п.)
        </div>
        <textarea class="PopupForm__Textarea" cols="30" rows="5" v-model="message" placeholder="Введите текст сообщения"></textarea>
        <div class="PopupForm__Text">Наши лучшие менеджеры ответят Вам как можно скорее!
        </div>
        <div class="PopupForm__CheckboxContainer">
          <input class="PopupForm__Checkbox" type="checkbox" v-model="agree">
          <label class="PopupForm__CheckboxLabel">Согласен с <a href="#"><u>Положением об обработке и защите персональных данных</u></a></label>
        </div>
        <button class="PopupForm__SubmitButton" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
<script>
  new Vue({
    el: "#tourists-form-vue",

    data: function () {
      return {
        name: "",
        email: "",
        phone: "",
        dates: "",
        nights: 0,
        adults: 0,
        children: 0,
        childrenAge: "",
        message: "",
        agree: false,
        showSuccess: false,
      };
    },

    watch: {
      nights(newValue, prevValue) {
        if (+newValue < 100 && +newValue > -1) {
          this.nights = newValue;
        } else {
          this.nights = prevValue;
        }
      },

      children(newValue, prevValue) {
        if (+newValue < 100 && +newValue > -1) {
          this.children = newValue;
        } else {
          this.children = prevValue;
        }
      },

      adults(newValue, prevValue) {
        if (+newValue < 100 && +newValue > -1) {
          this.adults = newValue;
        } else {
          this.adults = prevValue;
        }
      },
    },

    methods: {
      sendToBackend() {
        if (!this.agree) return;

        const dataload = {
          name: this.name,
          email: this.email,
          phone: this.phone,
          dates: this.dates,
          nights: this.nights,
          adults: this.adults,
          children: this.children,
          childrenAge: this.childrenAge,
          message: this.message,
          agree: this.agree,
        };

        fetch(`https://dev.resort-holiday.com/api/forms/?type=tourists`, {
          method: "POST",
          body: JSON.stringify(dataload),
        }).then(response => {
          this.showSuccess = true;
          setTimeout(() => {
            this.showSuccess = false;
          }, 2000);

          this.name = "";
          this.email = "";
          this.phone = "";
          this.dates = "";
          this.nights = 0;
          this.adults = 0;
          this.children = 0;
          this.childrenAge = "";
          this.message = "";
          this.agree = false;
        }).catch(function (error) {
          console.log("Error to post Tourists form data", error);
        });
      },
    },
  });
</script>