<div class="Tourists">
  <div class="Tourists__Screenlock"></div>
  <div class="Tourists__Content"
       style="background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('./assets/images/feedback-bg.jpg')">
    <div class="Tourists__ContentLeft">
      <img class="Tourists__LeftLogo" src="./assets/images/logo.svg" alt="logo">
      <div class="Tourists__LeftCountry">Россия</div>
      <div class="Tourists__LeftAddress">Москва, Новодмитровская 2, кор. 1<br>Савеловский Сити, башня Goodman</div>
      <div class="Tourists__LeftPhonesBlock">
        <img class="Tourists__LeftPhoneIcon" src="./assets/images/icons/gold-phone-icon.svg" alt="phone">
        <div class="Tourists__LeftPhones">
          <a class="Tourists__LeftPhone" href="#">+7 495 266-63-77</a>
          <a class="Tourists__LeftPhone" href="#">+7 800 100-19-70</a>
        </div>
      </div>
    </div>
    <div class="Tourists__ContentRight">
      <div class="Tourists__RightTitle">
        <div class="Tourists__RightTitleText">Оставить заявку на отдых</div>
        <button class="Tourists__RightTitleClose Tourists__CloseTrigger">
          <img src="./assets/images/icons/close-icon.svg" alt="close">
        </button>
      </div>
      <form class="Tourists__Form" id="tourists-form-vue" @submit.prevent="sendToBackend">
        <input class="Tourists__TextInput" type="text" v-model="name" placeholder="*Меня зовут">
        <input class="Tourists__TextInput" type="text" v-model="email" placeholder="*Мой email">
        <input class="Tourists__TextInput" type="tel"  v-model="phone" placeholder="*Мой телефон (+7)">
        <input class="Tourists__TextInput" type="text" v-model="dates" placeholder="*Хочу поехать в такие даты:">
        <div class="Tourists__NumbersContainer">
          <div class="Tourists__NumberBlock">
            <div class="Tourists__NumberInfo">*На</div>
            <div class="Tourists__NumberInputs">
              <div class="Tourists__NumberInputContainer">
                <input class="Tourists__NumberInput" type="number" value="0" v-model="nights"><span class="Tourists__NumberLabel">Ночей</span>
              </div>
            </div>
          </div>
          <div class="Tourists__NumberBlock">
            <div class="Tourists__NumberInfo">*Поедут</div>
            <div class="Tourists__NumberInputs">
              <div class="Tourists__NumberInputContainer">
                <input class="Tourists__NumberInput" type="number" value="0" v-model="adults"><span class="Tourists__NumberLabel">Взрослых</span>
              </div>
              <div class="Tourists__NumberInputContainer">
                <input class="Tourists__NumberInput" type="number" value="0" v-model="children"><span class="Tourists__NumberLabel">детей</span>
              </div>
            </div>
          </div>
        </div>
        <input class="Tourists__TextInput" type="text" v-model="childrenAge" placeholder="*Возраст детей (если есть)">
        <div class="Tourists__Text">*В поле ниже Вы можете оставить все свои пожелания по отдыху (например: тип питания, тип виллы, тип трансфера, бюджет, что вам нравится на отдыхе, что не нравится, какие услуги вам еще понадобятся, какой-то конкретный отель и т.п.)
        </div>
        <textarea class="Tourists__Textarea" cols="30" rows="5" v-model="message" placeholder="Введите текст сообщения"></textarea>
        <div class="Tourists__Text">Наши лучшие менеджеры ответят Вам как можно скорее!
        </div>
        <div class="Tourists__CheckboxContainer">
          <input class="Tourists__Checkbox" type="checkbox" v-model="agree">
          <label class="Tourists__CheckboxLabel">Согласен с <a href="#"><u>Положением об обработке и защите персональных данных</u></a></label>
        </div>
        <button class="Tourists__SubmitButton" type="submit">Отправить</button>
        <success-message v-if="showSuccess"></success-message>
      </form>
      <script>
        Vue.component("success-message", {
          name: "success-message",

          template: `
        <div class="SuccessMessage" >
          <svg class="SuccessMessage__Icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
              <rect x="3" y="2" width="36" height="36" rx="18" fill="url(#paint0_linear)"/>
            </g>
            <path d="M14.2501 20.6025L18.0911 24.4435L27.6935 14.841" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
              <filter id="filter0_d" x="0" y="0" width="42" height="42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="1"/>
                <feGaussianBlur stdDeviation="1.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.122254 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear" x1="-16.7019" y1="20.4221" x2="32.3324" y2="19.8753" gradientUnits="userSpaceOnUse">
                <stop stop-color="#D8BB58"/>
                <stop offset="0.1464" stop-color="#ECD26E"/>
                <stop offset="0.239" stop-color="#F4DB76"/>
                <stop offset="0.4341" stop-color="#E4BD32"/>
                <stop offset="0.8173" stop-color="#CEA53A"/>
                <stop offset="0.8757" stop-color="#C99F33"/>
              </linearGradient>
            </defs>
          </svg>
          <div class="SuccessMessage__Text1">Спасибо!</div>
          <div class="SuccessMessage__Text2">Сообщение отправлено</div>
        </div>
        `,
        });

        new Vue({
          el: "#tourists-form-vue",

          data: function () {
            return {
              name: "",
              email: "",
              phone: "",
              dates: "",
              nights: 0,
              adults: 0,
              children: 0,
              childrenAge: "",
              message: "",
              agree: false,
              showSuccess: false,
            };
          },

          watch: {
            nights(newValue, prevValue) {
              if (+newValue < 100 && +newValue > -1) {
                this.nights = newValue;
              } else {
                this.nights = prevValue;
              }
            },

            children(newValue, prevValue) {
              if (+newValue < 100 && +newValue > -1) {
                this.children = newValue;
              } else {
                this.children = prevValue;
              }
            },

            adults(newValue, prevValue) {
              if (+newValue < 100 && +newValue > -1) {
                this.adults = newValue;
              } else {
                this.adults = prevValue;
              }
            },
          },

          methods: {
            sendToBackend() {
              if (!this.agree) return;

              const dataload = {
                name: this.name,
                email: this.email,
                phone: this.phone,
                dates: this.dates,
                nights: this.nights,
                adults: this.adults,
                children: this.children,
                childrenAge: this.childrenAge,
                message: this.message,
                agree: this.agree,
              };

              fetch(`https://dev.resort-holiday.com/api/forms/?type=tourists`, {
                method: "POST",
                body: JSON.stringify(dataload),
              }).then((response) => {
                 this.showSuccess = true;
                 setTimeout(() => {
                   this.showSuccess = false;
                 }, 2000);
               }).catch(function (error) {
                 console.log("Error to post Tourists form data", error);
               });
            },
          },
        });
      </script>
    </div>
  </div>
</div>