<!DOCTYPE html>
<html class="RH__Page" lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @@include("./blocks/head-imports.html")

    <title>RH | Архвив Новостей</title>
  </head>

  <body class="RH__Body">
    <div class="RH__Wrapper">
      @@include("./blocks/header-b2b.html")
      <main class="RH__Main">
        <section class="PagePreview PagePreview--ResortExpert" style="background-image: url('./assets/images/news-bg.jpg');">
          <div class="PagePreview__Inner Container">
            <h1 class="PagePreview__Title">Новости</h1>
          </div>
        </section>
        <section class="InfoPageContent Container">
          <div class="InfoPageContent__Aside">
            <div class="InfoPageContent__AsideContent">
              @@include("./blocks/infopage-aside.html")
            </div>
            <div class="InfoPageContent__AsideBorder"></div>
          </div>
          <div class="InfoPageContent__Main ResortExpert__ContentPage">
            <div class="ResortExpert__BackLinkContainer">
              <a class="ResortExpert__BackLink" href="#">
                <img class="ResortExpert__BackLinkIcon" src="./assets/images/icons/manta-status-icon-active.svg" alt="manta">
                <div class="ResortExpert__BackLinkText">На главную</div>
              </a>
            </div>
            <div id="news-archive-list" class="ResortExpert__ContentPageText TextFormated TextFormated--LightGray">
              <h2>Архив новостей</h2>
              <ul class="News__ArchiveListPreload">
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
                <li class="News__ArchiveItem">
                  <a class="News__ArchiveLink" href="#">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">Мальдивы становятся ближе </div>
                    <div class="News__ArchiveDate">22.05.2021 </div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
              </ul>
              <ul class="News__ArchiveList">
                <li class="News__ArchiveItem" v-for="(oneNews, index) in filteredNews">
                  <a class="News__ArchiveLink" :href="oneNews.link" :key="index">
                    <img class="News__ArchiveManta" src="./assets/images/re-list-manta.svg" alt="manta">
                    <div class="News__ArchiveTitle">{{ oneNews.title }}</div>
                    <div class="News__ArchiveDate">{{ oneNews.date }}</div>
                    <div class="News__ArchiveReadMore">Читать полностью</div>
                  </a>
                </li>
              </ul>
              <div class="News__GoldDivider"></div>
              <button v-if="newsToShowCount <= news.length" @click="newsToShowCount += 6" class="News__FullWidthLink" href="#">
                <div class="News__FullWidthLinkInner">Показать больше</div>
              </button>
            </div>
            <script>
              new Vue({
                el: "#news-archive-list",

                data: function() {
                  return {
                    newsToShowCount: 12,
                    news: [],
                  };
                },

                computed: {
                  filteredNews: function() {
                    return this.news.filter((_, index) => index < this.newsToShowCount);
                  },
                },

                mounted: function() {
                  this.$el.querySelectorAll(".News__ArchiveListPreload .News__ArchiveItem").forEach(archiveItem => {
                    const title = archiveItem.querySelector(".News__ArchiveTitle").innerHTML;
                    const date = archiveItem.querySelector(".News__ArchiveDate").innerHTML;
                    const link = archiveItem.querySelector(".News__ArchiveLink").getAttribute("href");
                    this.news.push({ title, date, link });
                  });
                  this.$el.querySelectorAll(".News__ArchiveItem").forEach(item => item.remove());
                },
              });
            </script>
          </div>
        </section>
        @@include("./blocks/banner-b2b.html")
      </main>
      @@include("./blocks/footer-b2b.html")
    </div>

    @@include('./blocks/scripts.html')
  </body>

</html>