.b2b-top-slider {
  & .splide__slide {
    height: 780px;
  }

  & .splide__pagination {
    bottom: 200px;

    &__page {
      &.is-active {
        width: 16px;
        transform: none;
        border-radius: 4px;
      }
    }
  }
}