.b2c-menu {
  &--active {
    .b2c-menu {
      &__content {
        display: block;
      }

      &__trigger {
        background: #2A5D2E;
      }

      &__open-image {
        display: none;
      }

      &__close-image {
        display: block;
      }

      &__close-arrow {
        opacity: 1;
      }
    }
  }

  &--to-right {
    right: 0;
    margin: 0;
    padding: 0;
    max-width: none;
  }

  &__content {
    display: none;
  }

  &__trigger {

  }

  &__open-image {
    width: 30px;
  }

  &__close-image {
    width: 30px;
    display: none;
  }

  &__close-arrow {
    opacity: 0;
    transition: all .5s;
  }
}