.wrapper .samo_container .panel, #modalContainer div.modalTitle, #logonContainer div.modalTitle {background-color: white;}
[data-searchmode = "cl_wizard"] {display: none;}
.searchmodes .panel {width: 250px;}
.searchmodes .searchmode_hotel {width: 250px;}
.samo_container .searchmodes .searchmode .searchmode_button {
    background-color: #2A5D2E;
    color: white;
    box-shadow: none;
}

.md:flex-row {
    flex-direction: flex-row;
}

.wrapper #fast_search .n1 {width: 100%;}
.wrapper #fast_search .n1 tbody {
    display: grid;
    padding: 20px;
    gap: 10px 10px;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "country country"
    "tour tour"
    "hotel hotel"
    "category category"
    "clients clients"
    "days days"
    "submit submit";
}


.wrapper #fast_search .n1 tbody tr:nth-child(2) {grid-area: country;}
.wrapper #fast_search .n1 tbody tr:nth-child(3) {grid-area: tour;}
.wrapper #fast_search .n1 tbody tr:nth-child(4) {grid-area: category;}
.wrapper #fast_search .n1 tbody tr:nth-child(5) {grid-area: hotel;}
.wrapper #fast_search .n1 tbody tr:nth-child(6) {grid-area: days;}
.wrapper #fast_search .n1 tbody tr:nth-child(7) {grid-area: clients;}
.wrapper #fast_search .n1 tbody tr:nth-child(9) {grid-area: submit;}
.wrapper #fast_search .n1 tbody tr:nth-child(8) {display: none;}

.wrapper #fast_search .border-bottom-gray {border-bottom: 1px solid darkgray;}
.wrapper #fast_search .height-62 {height: 62px;}
.wrapper #fast_search .rh-margin-right-40 {margin-right: 0;}
.wrapper #fast_search .rh-padding-bottom-15 {padding-bottom: 15px;}
.wrapper #fast_search .category-filter.flex {display: flex;}
.wrapper #fast_search .rh-bg-gold {background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);}

.wrapper #fast_search .chosen-container {
    color: black;
    max-width: none;
}
.wrapper #fast_search .chosen-single {
    padding: 8px;
    height: 40px;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
.wrapper #fast_search .chosen-single span {
    display: block;
}
.wrapper #fast_search .chosen-single div {
    position: relative;
}
.wrapper #fast_search .chosen-single div b {
}
.wrapper #fast_search .chosen-drop {}
.wrapper #fast_search .chosen-search {}
.wrapper #fast_search .chosen-results {}
.wrapper #fast_search .active-result {}
.wrapper #fast_search .active-result.highlighted {}

.wrapper .samo_container .yesnoplace, .wrapper .samo_container .even .yesnoplace, .samo_container .odd .yesnoplace {
    background-color: #007355 !important;
    color: white !important;
}

.middle-hidden {
    display: block;
}


@media(min-width: 768px) {
    .wrapper #fast_search .n1 tbody {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas:
        "country country tour tour"
        "hotel hotel category category"
        "clients clients days days"
        ". submit submit .";
    }

    .wrapper #fast_search .rh-margin-right-40 {margin-right: 40px}

    .wrapper .md-flex-row {
        flex-direction: row;
    }

    .middle-hidden {
        display: none;
    }
}

@media(min-width: 1024px) {
    .middle-hidden {
        display: block;
    }
}