.menu-dropdown-item {
  &:hover {
    .menu-dropdown-item__content {
      display: block;
    }
  }
  
  &__content {
    display: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

    & li {
      border-bottom: 1px solid #999999;

      & > a {
        color: #999999;
        font-size: 18px;
      }
    }
  } 
}