.our-guests-slider, .our-guests-slider--mobile {
  & .splide__arrow {
    top: 115%;
    background-color: white;
    opacity: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    & svg {
      width: .7em;
    }

    &--prev {
      left: 50%;
      transform: translateX(-110%);
    }

    &--next {
      right: 50%;
      transform: translateX(110%);
    }
  }
}