@import "./vendors/_dir";

html {
  font-family: "montserrat", sans-serif;
}

.b2c-blog-slider {
  & .splide__track {
    height: 540px;    
  }
}

.b2c-blog-slider--mobile {
  & .splide__track {
  }
}

.b2c-blog-slider, .b2c-blog-slider--mobile {

  & .splide__arrow {
    top: 115%;
    background-color: white;
    opacity: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    & svg {
      width: .7em;
    }

    &--prev {
      left: 50%;
      transform: translateX(-110%);
    }

    &--next {
      right: 50%;
      transform: translateX(110%);
    }
  }
}

.our-guests-slider, .our-guests-slider--mobile {
  & .splide__arrow {
    top: 115%;
    background-color: white;
    opacity: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    & svg {
      width: .7em;
    }

    &--prev {
      left: 50%;
      transform: translateX(-110%);
    }

    &--next {
      right: 50%;
      transform: translateX(110%);
    }
  }
}

.our-goods-slider {
  & .splide__pagination {
    bottom: -1.5em;
  }

  & .splide__pagination__page {
    background: #285C2D;
    opacity: 0.3;

    &.is-active {
      width: 16px;
      transform: none;
      border-radius: 4px;
      background: #285C2D;
      opacity: 1;
    }
  }
}

.sales-card {
  &__info {
    transition: all .5s;
    height: 100%;
  }

  &__popup {
    transition: all .5s;
    height: 0%;
  }

  &:hover {
    .sales-card {
      &__info {
        height: 66%;
      }

      &__popup {
        height: 33%;
      }
    }
  }
}

.b2c-main-page-video-container {
  height: 400px;
  
  @media (min-width: 768px) {
    height: 780px;
  }
}

.mobile-sidebar {
  &--active {
    & .mobile-sidebar__screenlock {
      display: block;
    }

    & .mobile-sidebar__content {
      left: 0;
    }

    & .mobile-sidebar__close-trigger {
      left: 240px;
    }
  }

  &__screenlock {
    display: none;
  }
  
  &__content {
    &::-webkit-scrollbar {
      display: none;
    }

    left: -200vw;
    transition: all .5s;
  }

  &__close-trigger {
    left: -200vw;
    transition: all .5s;
  }

  &__item {

  }

  &__submenu-trigger {}

  &__submenu {
    display: none;

    &--active {
      display: block;
    }
  }
}

.menu-dropdown-item {
  &:hover {
    .menu-dropdown-item__content {
      display: block;
    }
  }
  
  &__content {
    display: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

    & li {
      border-bottom: 1px solid #999999;

      & > a {
        color: #999999;
        font-size: 18px;
      }
    }
  } 
}

.b2c-menu {
  &--active {
    .b2c-menu {
      &__content {
        display: block;
      }

      &__trigger {
        background: #2A5D2E;
      }

      &__open-image {
        display: none;
      }

      &__close-image {
        display: block;
      }

      &__close-arrow {
        opacity: 1;
      }
    }
  }

  &--to-right {
    right: 0;
    margin: 0;
    padding: 0;
    max-width: none;
  }

  &__content {
    display: none;
  }

  &__trigger {

  }

  &__open-image {
    width: 30px;
  }

  &__close-image {
    width: 30px;
    display: none;
  }

  &__close-arrow {
    opacity: 0;
    transition: all .5s;
  }
}

.search-form-switch {
  &--half {
    .search-form-switch {
      &__button {
        &_tour {
          height: 50px;
        }

        &_hotel {
          height: 50px;
        }
      }
    }
  }

  &__button {
    background-color: #2A5D2E;
    color: white;
    outline: none!important;

    &_tour {
      height: 70px;
      border-top-right-radius: 0;
      border-top-left-radius: 20px;
    }

    &_hotel {
      height: 70px;
      border-top-right-radius: 20px;
      border-top-left-radius: 0;
    }

    &--active {
      background-color: white;
      color: #2A5D2E;
      z-index: 11;
    }

    &--active&_tour {
      border-top-right-radius: 20px;
    }

    &--active&_hotel {
      border-top-left-radius: 20px;
    }
  }

  &__form {
    display: none;

    &_tour {}

    &_hotel {}

    &--active {
      display: block;
    }
  }

  &__top-shadow {
    box-shadow: 15px 4px 30px rgba(0, 0, 0, 0.25);
  }

  &__gray-text {
    color: rgba(0, 0, 0, .5);
  }
}

.background-font-clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b2b-top-slider {
  & .splide__slide {
    height: 780px;
  }

  & .splide__pagination {
    bottom: 200px;

    &__page {
      &.is-active {
        width: 16px;
        transform: none;
        border-radius: 4px;
      }
    }
  }
}

.with-you-slider {
  & .splide__arrow {
    top: 115%;
    background-color: white;
    opacity: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    & svg {
      width: .7em;
    }

    &--prev {
      left: 50%;
      transform: translateX(-110%);
    }

    &--next {
      right: 50%;
      transform: translateX(110%);
    }
  }
}