@import "./vendors/_dir";
@import "./custom/_dir";

html {
  font-family: "montserrat", sans-serif;
}

.menu-dropdown-item {
  &:hover {
    .menu-dropdown-item__content {
      display: block;
    }
  }
  
  &__content {
    display: none;

    & li {
      border-bottom: 1px solid #999999;

      & > a {
        color: #999999;
        font-size: 18px;
      }
    }
  } 
}

.search-form-switch {
  &__button {
    background-color: #2A5D2E;
    color: white;
    outline: none!important;

    &_tour {
      height: 70px;
      border-top-right-radius: 0;
      border-top-left-radius: 20px;
    }

    &_hotel {
      height: 70px;
      border-top-right-radius: 20px;
      border-top-left-radius: 0;
    }

    &--active {
      background-color: white;
      color: #2A5D2E;
      z-index: 11;
    }

    &--active&_tour {
      border-top-right-radius: 20px;
    }

    &--active&_hotel {
      border-top-left-radius: 20px;
    }
  }

  &__form {
    display: none;

    &_tour {}

    &_hotel {}

    &--active {
      display: block;
    }
  }

  &__top-shadow {
    box-shadow: 15px 4px 30px rgba(0, 0, 0, 0.25);
  }

  &__gray-text {
    color: rgba(0, 0, 0, .5);
  }
}