@import "./vendors/_dir";
@import "./custom/_dir";

html {
  font-family: "montserrat", sans-serif;
}

.menu-dropdown-item {
  &:hover {
    .menu-dropdown-item__content {
      display: block;
    }
  }
  
  &__content {
    display: none;

    & li {
      border-bottom: 1px solid #999999;

      & > a {
        color: #999999;
        font-size: 18px;
      }
    }
  } 
}