.HotelList {

}

.HotelList__List {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.HotelList__Item {
    display: flex;
    margin-bottom: 50px;
}

.HotelList__ItemMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    width: 40%;
    flex-shrink: 0;
    margin-right: 40px;
}

.HotelList__ItemImage {
    height: 130%;
}

.HotelList__ItemInfo {}

.HotelList__ItemName {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 15px;
    text-decoration: none;
    transition: all .5s;
}

.HotelList__ItemName:hover {
    color: #285C2D;
}

.HotelList__ItemStars {
    margin-bottom: 15px;
}

.HotelList__ItemAtoll {
    font-weight: bold;
    font-size: 16px;
    line-height: 80%;
    color: #999999;
    margin-bottom: 15px;
}

.HotelList__ItemCriteriaList {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
}

.HotelList__ItemCriteriaItem {
    display: inline-block;
    margin-right: 5px;
}

.HotelList__ItemCriteriaName {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    background-color: #f3ec78;
    background-image: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.HotelList__ItemCriteriaDivider {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #999999;
}

.HotelList__ItemDescription {}

.HotelList__FilterBlock {
    background: #285C2D;
    padding: 33px 23px;
    margin-bottom: 30px;
}

.HotelList__FilterBlockTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.HotelList__FilterBlockTitleInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #757575;
    padding: 20px;
}

.HotelList__FilterBlockTitleInput {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #757575;
    font-family: inherit;
}

.HotelList__FilterBlockTitleInputIcon {}

.HotelList__FilterBlockAtollSelect {
    background: #FFFFFF;
    border: 1px solid #757575;
    padding: 17px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #757575;
    font-family: inherit;
}

.HotelList__FilterBlockAtollSelect * {
    background: white;
}

.HotelList__CheckboxContainer {
    display: flex;
    align-items: center;
}

.HotelList__CheckboxContainer:not(:last-child) {
    margin-bottom: 20px;
}

.HotelList__Checkbox {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 25px;
    display: block;
    flex-shrink: 0;
}

.HotelList__Checkbox::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border:none;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122254);
    transition: background-color .5s;
}

.HotelList__Checkbox:checked::before {
    background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.HotelList__Checkbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 7px;
}

.HotelList__CheckboxLabel {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.HotelList__Atolls {
    position: relative;
    width: 100%;
}

.HotelList__AtollsList {
    z-index: 3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    background: white;
    padding: 20px 30px;
}

.HotelList__AtollsItem {
    padding: 14px 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    cursor: pointer;
    transition: all .5s;
}

.HotelList__AtollsItem:hover {
    color: #285C2D;
}

.HotelList__AtollsItem:not(:last-child) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.HotelList__FilterBlockTitleInputContainer--ActiveAtoll {
    border: 1px solid #757575;
    box-sizing: border-box;
}

.HotelList__FilterBlockTitleInputContainer--ActiveAtoll .HotelList__FilterBlockTitleInputIcon {
    transform: rotate(180deg);
}

.HotelList__PageControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HotelPage__PerPageContainer {}

.HotelPage__PerPageTitle {}

.HotelPage__PerPageSelect {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
}

.HotelPage__PageNumberContainer {
    display: flex;
    align-items: center;
}

.HotelPage__PrevPageButton {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 16px;
}

.HotelPage__PagerList {
    display: flex;
    align-items: center;
}

.HotelPage__PagerItem {
    margin-right: 16px;
    cursor: pointer;
}

.HotelPage__NextPageButton {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
}

.HotelList__MobileFilter {
    display: none;
    margin: 0 -20px 30px;
}

.HotelList__MobileFilterButtonsContainer {
    margin-bottom: 10px;
}

.HotelList__MobileFilterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #285C2D;
    display: flex;
    outline: none;
    width: 100%;
    cursor: pointer;
    border: none;
}

.HotelList__MobileFilterIcon {
    margin-right: 10px;
}

.HotelList__MobileFilterText {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .HotelList__Item {
        flex-direction: column;
    }

    .HotelList__ItemMedia {
        width: 100%;
        margin-right: 0;
        height: auto;
        max-height: 300px;
        margin-bottom: 25px;
    }

    .HotelList__ItemImage {
        width: 100%;
        height: auto;
    }

    .HotelPage__PerPageContainer {
        display: none;
    }

    .HotelList__PageControl {
        justify-content: center;;
    }

    #hotel-list-vue .InfoPageContent__Main {
        padding-top: 0;
    }

    .HotelList__FilterBlock {
        margin-bottom: 10px;
        padding: 20px 15px;
    }

    .HotelList__FilterBlockTitleInputContainer {
        padding: 10px;
    }

    .HotelList__MobileFilter {
        display: block;
    }
}

