.HotelPage {}

.HotelPage__PagePreview {
  height: 780px;
}

.HotelPage__Content {
  margin-bottom: 100px;
}

.HotelPage__PagePreview .PagePreview__Inner {
  justify-content: flex-start;
}

.HotelPage__PagePreview .PagePreview__Title {
  text-align: left;
  padding-top: 140px;
}

.HotelPage__PhotoSliderScreenLock {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, .7);
  z-index: 90;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderScreenLock {
  display: block;
}

.HotelPage__PhotoSliderPopupContainer {
  display: block;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderPopupContainer {
  display: block;
}

.HotelPage__PhotoSlider {
  height: 200px;
  margin-bottom: 60px;
}

.HotelPage__PhotoSliderPopupInner {
  display: block;
  position: fixed!important;
  top: 150vh;
  left: 50%;
  z-index: 91;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1300px;
  height: 90vw;
  max-height: 1200px;
  transition: all .5s;
  opacity: 0;
}

.HotelPage__PhotoSlider--Popup {
  width: 100%;
  height: 55vw;
  max-height: 740px;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderPopupInner {
  top: 50%;
  opacity: 1;
}

.HotelPage__PhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__PhotoSlider--Popup .splide__arrow {
  top: 62vw;
}

@media (min-width: 1040px) {
  .HotelPage__PhotoSlider--Popup .splide__arrow {
    top: 62vw;
  }
}

@media (min-width: 1340px) {
  .HotelPage__PhotoSlider--Popup .splide__arrow {
    top: 810px;
  }
}

.HotelPage__PhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__PhotoSlider--Popup .splide__arrow > svg {
  fill: #333333;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev {
  left: 3em;
}

.HotelPage__PhotoSlider--Popup .splide__arrow.splide__arrow--prev {
  left: 38%;
  background: #FFFFFF;
  width: 50px;
  height: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding-right: 10px;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--next {
  right: 7em;
}

.HotelPage__PhotoSlider--Popup .splide__arrow.splide__arrow--next {
  right: 38%;
  background: #FFFFFF;
  width: 50px;
  height: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5);
}

.HotelPage__PhotoSlider--Popup .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-1);
}

.HotelPage__PhotoSlider--Popup .splide__arrow.splide__arrow--next > svg {
  transform: scale(1);
}

@media (max-width: 768px) {
  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev {
    left: 1em;
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev > svg {
    transform: scale(-3);
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next {
    right: 1em;
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next > svg {
    transform: scale(3);
  }
}

@media (max-width: 768px) {
  .HotelPage__PhotoSlider {
    margin: 34px -20px 60px;
  }

  .HotelPage__PhotoSlider--Popup.HotelPage__PhotoSlider {
    margin: 0;
  }
}

.HotelPage__PhotoSliderTrack {
  height: 100%;
}

.HotelPage__PhotoSliderList {
  height: 100%;
}

.HotelPage__PhotoSliderSlide {
  height: 100%;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px !important;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.HotelPage__PhotoSlider--Popup .HotelPage__PhotoSliderSlide {
  width: 90vw;
  max-width: 1300px;
  margin-right: 0!important;
}

.HotelPage__PhotoSliderImage  {
  height: 150%;
}

.HotelPage__PhotoInnerShadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.613882) 0%, rgba(0, 0, 0, 0.0001) 50%);
}

.HotelPage__Info {
  max-width: 500px;
}

.HotelPage__Stars {
  padding-bottom: 17px;
  border-bottom: 1px solid #9999998a;
}

.HotelPage__Star {
  margin-right: 10px;
}

.HotelPage__Name {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #252D27;
  margin-bottom: 40px;
}

.HotelPage__TabsContainer--Scroll {
  margin: 0 -20px 50px;
}

@media (min-width: 769px) {
  .HotelPage__TabsContainer--Scroll {
    margin: 0 0 100px;
  } 
}

.HotelPage__TabsList {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #285C2D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabsList {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: flex-start;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabsList::-webkit-scrollbar {
  display: none;
}

.HotelPage__TabItem {
  width: 100%;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabItem {
  width: auto;
}

.HotelPage__TabLink {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 5px;
  display: block;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

.HotelPage__TabsContainerInfinite .HotelPage__TabLink {
  padding: 15px 30px;
}

.HotelPage__TabLink--Active {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.HotelPage__TabData {
  padding: 0 30px;
  color: #333333;
}

@media (max-width: 768px) {
  .HotelPage__TabData {
    padding: 0;
  } 
}

.HotelPage__Quote {}

.HotelPage__QuoteTitleBlock {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.HotelPage__QuoteIconContainer {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HotelPage__QuoteTitle {
  font-weight: bold;
  font-size: 24px;
}

.HotelPage__QuoteText {
  padding: 0 50px;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .HotelPage__QuoteText {
    padding: 0;
  }
}

.HotelPage__QuoteAuthorBlock {
  padding: 0 50px;
}

@media (max-width: 768px) {
  .HotelPage__QuoteAuthorBlock {
    padding: 0;
  }
}

.HotelPage__QuoteAuthor {
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
}

.HotelPage__ImageDataContainer {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .HotelPage__ImageDataContainer {
    padding: 0;
  }
}

.HotelPage__ImageData {
  width: 100%;
}

.HotelPage__Nomer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .HotelPage__Nomer {
    justify-content: flex-start;
    flex-direction: column-reverse;
  } 
}

.HotelPage__NomerPhotoSliderContainer {
  width: 300px;
  flex-shrink: 0;
  margin-right: 45px;
}

.HotelPage__NomerMobilePhotoSliderContainer {
  display: none;
}

@media (max-width: 768px) {
  .HotelPage__NomerPhotoSliderContainer {
    display: none;
  }

  .HotelPage__NomerMobilePhotoSliderContainer {
    display: block;
  }
}

.HotelPage__NomerPhotoSlider {
  width: 100%;
}

.HotelPage__NomerPhotoSlider {}

.HotelPage__NomerMobilePhotoSlider {
  height: 50vw;
}

.HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoSliderTrack {
  height: 100%;
}

.HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoSliderList {
  height: 100%;
}

.HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoSliderSlide {
  height: 100%;
}

.HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoSliderImage {
  height: auto;
  width: 110%;
}

.HotelPage__NomerPhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__NomerPhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--prev {
  display: none;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--next {
  bottom: -6em !important;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5) !important;
}

.HotelPage__NomerPhotoSliderTrack {}

.HotelPage__NomerPhotoSliderList {}

.HotelPage__NomerPhotoSliderSlide {
  position: relative;
}

.HotelPage__NomerPhotoGoldBg {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 0;
  left: 0;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.HotelPage__NomerPhotoSliderImageContainer {
  position: absolute;
  height: 95%;
  width: 95%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoGoldBg, .HotelPage__NomerMobilePhotoSlider .HotelPage__NomerPhotoSliderImageContainer {
  height: 93%;
  width: 96%;
}

.HotelPage__NomerPhotoSliderImage {
  height: 150%;
}

.HotelPage__NomerTextContainer {}


.HotelPage__NomerMobilePhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__NomerMobilePhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--prev {
  left: 3em;
}

.HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next {
  right: 7em;
}

.HotelPage__NomerMobilePhotoSliderContainer--Active .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next {
  right: 3em;
}

.HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5);
}

@media (max-width: 768px) {
  .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--prev {
    left: 1em;
  }

  .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--prev > svg {
    transform: scale(-3);
  }

  .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next, .HotelPage__NomerMobilePhotoSliderContainer--Active .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next {
    right: 1em;
  }

  .HotelPage__NomerMobilePhotoSlider .splide__arrow.splide__arrow--next > svg {
    transform: scale(3);
  }
}

.HotelPage__NomerPopupScreenlock {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, .5);
  z-index: 90;
}
.HotelPage__NomerPopupPhotoSliderContainer--ActiveMobile .HotelPage__NomerPopupScreenlock,
.HotelPage__NomerPopupPhotoSliderContainer--ActiveDesktop .HotelPage__NomerPopupScreenlock {
  display: block;
}

.HotelPage__NomerPopupPhotoSlider {
  position: fixed!important;
  top: 150vh;
  left: 50%;
  z-index: 91;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  height: 50vw;
  max-height: 600px;
  transition: all .5s;
  opacity: 0;
}

.HotelPage__NomerPopupPhotoSliderContainer--ActiveDesktop .HotelPage__NomerPopupPhotoSlider--Desktop {
  top: 50%;
  opacity: 1;
}

.HotelPage__NomerPopupPhotoSliderContainer--ActiveMobile .HotelPage__NomerPopupPhotoSlider--Mobile {
  top: 50%;
  opacity: 1;
}

.HotelPage__NomerPopupPhotoSliderTrack {
  height: 100%;
}

.HotelPage__NomerPopupPhotoSliderList {
  height: 100%;
}

.HotelPage__NomerPopupPhotoSliderSlide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.HotelPage__NomerPopupPhotoSliderImage {
  height: 150%;
}


.HotelPage__NomerPopupPhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__NomerPopupPhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--prev {
  left: 3em;
}

.HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next {
  right: 3em;
}

.HotelPage__NomerPopupPhotoSliderContainer--Active .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next {
  right: 3em;
}

.HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5);
}

@media (max-width: 768px) {
  .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--prev {
    left: 1em;
  }

  .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--prev > svg {
    transform: scale(-3);
  }

  .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next, .HotelPage__NomerPopupPhotoSliderContainer--Active .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next {
    right: 1em;
  }

  .HotelPage__NomerPopupPhotoSlider .splide__arrow.splide__arrow--next > svg {
    transform: scale(3);
  }
}

.HotelPage__PhotoSliderCloseButtonContainer {
  display: none;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderCloseButtonContainer {
  display: block;
}

.HotelPage__PhotoSliderCloseButton {
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  position: fixed;
  top: 65px;
  right: 65px;
  z-index: 91;
  cursor: pointer;
}

.HotelPage__PhotoSliderCloseButtonImage {}

.HotelPage__PhotoSliderSlideMedia {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.HotelPage__PhotoSliderSlideDescription {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 12px 52px 14px 0;
  width: 100%;
} 

.HotelPage__PhotoSlider--Popup .HotelPage__PhotoSliderSlide {
  display: flex;
  flex-direction: column;
}

.HotelPage__PhotoSlider--PopupBottom .HotelPage__PhotoInnerShadow {
  background: rgba(255,255,255, 0.6);
}

.HotelPage__PhotoSlider--PopupBottom .HotelPage__PhotoSliderSlide.is-active .HotelPage__PhotoInnerShadow {
  background: none;
}

.HotelPage__PhotoSliderPopupTitle {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.406154px;
  color: #FFFFFF;
  margin-bottom: 46px;
}

.HotelPage__PhotoSliderPopupCounter {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}