.HotelPage {}

.HotelPage__PagePreview {
  height: 780px;
}

.HotelPage__Content {
  margin-bottom: 100px;
}

.HotelPage__PagePreview .PagePreview__Inner {
  justify-content: flex-start;
}

.HotelPage__PagePreview .PagePreview__Title {
  text-align: left;
  padding-top: 140px;
}

.HotelPage__PhotoSliderContainer {
  
}

.HotelPage__PhotoSliderContainer--Active {}

.HotelPage__PhotoSliderScreenLock {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, .5);
  z-index: 90;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderScreenLock {
  display: block;
}

.HotelPage__PhotoSliderInner {
  position: static;
  top: auto;
  left: auto;
  transform: none;
  width: 100%;
  z-index: 91;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderInner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 1000px;
  z-index: 91;
}

.HotelPage__PhotoSlider {
  position: relative;
  height: 200px;
  margin-bottom: 60px;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSlider {
  max-height: 600px;
  height: 50vw;
  margin-bottom: 0;
}

.HotelPage__PhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__PhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev {
  left: 3em;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--next {
  right: 7em;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next {
  right: 3em;
}

.HotelPage__PhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5);
}

@media (max-width: 768px) {
  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev {
    left: 1em;
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--prev > svg {
    transform: scale(-3);
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next, .HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next {
    right: 1em;
  }

  .HotelPage__PhotoSlider .splide__arrow.splide__arrow--next > svg {
    transform: scale(3);
  }
}

@media (max-width: 768px) {
  .HotelPage__PhotoSlider {
    margin: 34px -20px 60px;
  }
}

.HotelPage__PhotoSliderTrack {
  height: 100%;
}

.HotelPage__PhotoSliderList {
  height: 100%;
}

.HotelPage__PhotoSliderSlide {
  height: 100%;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px !important;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.HotelPage__PhotoSliderContainer--Active .HotelPage__PhotoSliderSlide {
  width: 80vw;
  max-width: 1000px;
}

.HotelPage__PhotoSliderImage  {
  height: 150%;
}

.HotelPage__PhotoInnerShadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.613882) 0%, rgba(0, 0, 0, 0.0001) 50%);
}

.HotelPage__Info {
  max-width: 500px;
}

.HotelPage__Stars {
  padding-bottom: 17px;
  border-bottom: 1px solid #9999998a;
}

.HotelPage__Star {
  margin-right: 10px;
}

.HotelPage__Name {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #252D27;
  margin-bottom: 40px;
}

.HotelPage__TabsContainer--Scroll {
  margin: 0 -20px 50px;
}

@media (min-width: 769px) {
  .HotelPage__TabsContainer--Scroll {
    margin: 0 0 100px;
  } 
}

.HotelPage__TabsList {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #285C2D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabsList {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: flex-start;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabsList::-webkit-scrollbar {
  display: none;
}

.HotelPage__TabItem {
  width: 100%;
}

.HotelPage__TabsContainer--Scroll .HotelPage__TabItem {
  width: auto;
}

.HotelPage__TabLink {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 5px;
  display: block;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

.HotelPage__TabsContainerInfinite .HotelPage__TabLink {
  padding: 15px 30px;
}

.HotelPage__TabLink--Active {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.HotelPage__TabData {
  padding: 0 30px;
  color: #333333;
}

.HotelPage__Quote {}

.HotelPage__QuoteTitleBlock {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.HotelPage__QuoteIconContainer {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HotelPage__QuoteTitle {
  font-weight: bold;
  font-size: 24px;
}

.HotelPage__QuoteText {
  padding: 0 50px;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .HotelPage__QuoteText {
    padding: 0;
  }
}

.HotelPage__QuoteAuthorBlock {
  padding: 0 50px;
}

@media (max-width: 768px) {
  .HotelPage__QuoteAuthorBlock {
    padding: 0;
  }
}

.HotelPage__QuoteAuthor {
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
}

.HotelPage__ImageDataContainer {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .HotelPage__ImageDataContainer {
    padding: 0;
  }
}

.HotelPage__ImageData {
  width: 100%;
}

.HotelPage__Nomer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.HotelPage__NomerPhotoSliderContainer {
  width: 300px;
  flex-shrink: 0;
  margin-right: 45px;
}

.HotelPage__NomerPhotoSlider {
  width: 100%;
}

.HotelPage__NomerPhotoSlider {}

.HotelPage__NomerPhotoSlider .splide__arrow {
  background: none;
}

.HotelPage__NomerPhotoSlider .splide__arrow > svg {
  fill: white;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--prev {
  display: none;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--prev > svg {
  transform: scale(-5);
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--next {
  bottom: -6em !important;
}

.HotelPage__NomerPhotoSlider .splide__arrow.splide__arrow--next > svg {
  transform: scale(5) !important;
}

.HotelPage__NomerPhotoSliderTrack {}

.HotelPage__NomerPhotoSliderList {}

.HotelPage__NomerPhotoSliderSlide {
  position: relative;
}

.HotelPage__NomerPhotoGoldBg {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 0;
  left: 0;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.HotelPage__NomerPhotoSliderImageContainer {
  position: absolute;
  height: 95%;
  width: 95%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HotelPage__NomerPhotoSliderImage {
  height: 150%;
}

.HotelPage__NomerTextContainer {}