.MainB2b {}

.MainB2b__VideoBlock {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  margin-bottom: 80px;
}

@media (min-width: 769px) {
  .MainB2b__VideoBlock {
    display: flex;
    margin-top: -86px;
  }
}

@media (min-width: 1441px) {
  .MainB2b__VideoBlock {
    height: 780px;
  }
}

.MainB2b__Video {
  width: 100%;
}

.MainB2b__Inner {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.MainB2b__Aside {
  display: none;
  width: 30%;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .MainB2b__Aside {
    display: flex;
  }
}

.MainB2b__AsideContent {
  padding-bottom: 65px;
  width: 90%;
}

.MainB2b__AsideGoldBorder {
  flex-shrink: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.MainB2b__Main {
  width: 100%;
}

@media (min-width: 769px) {
  .MainB2b__Main {
    width: 65%;
  }
}

.MainB2b__AsideTitle {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  color: #252D27;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.MainB2b__AsideList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.MainB2b__AsideItem {}

.MainB2b__AsideItem:not(:last-child) {
  margin-bottom: 70px;
}

.MainB2b__AsideItemTitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #252D27;
  margin: 0;
  margin-bottom: 35px;
}

.MainB2b__AsideItemText {
  font-size: 16px;
  line-height: 150%;
  color: #252D27;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 25px;
}

.MainB2b__AsideItemLink {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.MainB2b__Mosaic.B2bMosaic {
  display: none;
}

@media (min-width: 769px) {
  .MainB2b__Mosaic.B2bMosaic {
    display: flex;
  }
}

.B2bMosaic {
  display: flex;
  justify-content: space-between;
  height: 540px;
}

@media (max-width: 1200px) {
  .B2bMosaic {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .B2bMosaic {
    height: 460px;
  }
}

@media (max-width: 800px) {
  .B2bMosaic {
    height: 380px;
  }
}

.B2bMosaic__Left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.B2bMosaic__Right {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.B2bMosaic__RightTop {
  height: 35%;
  display: flex;
  justify-content: space-between;
}

.B2bMosaic__1, .B2bMosaic__2, .B2bMosaic__3, .B2bMosaic__4, .B2bMosaic__5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.B2bMosaic__Icon {
  margin-bottom: 18px;
}

.B2bMosaic__Title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.B2bMosaic__1 .B2bMosaic__Title {
  font-size: 35px;
}

.B2bMosaic__5 .B2bMosaic__Title {
  font-weight: 600;
  font-size: 45px;
}

.B2bMosaic__1 {
  height: 47.5%;
  border-radius: 10px 0px 0px 10px;
}

.B2bMosaic__2 {
  height: 47.5%;
  border-radius: 10px 0px 0px 10px;
}

.B2bMosaic__3 {
  width: 55%;
}

.B2bMosaic__4 {
  border-radius: 0px 10px 10px 0px;
  width: 40%;
}

.B2bMosaic__5 {
  height: 60%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 1200px) {
  .B2bMosaic__Title {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .B2bMosaic__Title {
    font-size: 16px;
  }

  .B2bMosaic__1 .B2bMosaic__Title {
    font-size: 25px;
  }
  
  .B2bMosaic__5 .B2bMosaic__Title {
    font-size: 30px;
  }
}

.MainB2b__DesktopWe {
  display: none;
}

@media (min-width: 769px) {
  .MainB2b__DesktopWe {
    display: block;
  }
}

.B2bDesktopWe {}

.B2bDesktopWe__Title {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin: 52px 0 32px;
}

.B2bDesktopWe__List {
  list-style: none;
  padding: 0;
  margin: 0;
}

.B2bDesktopWe__Item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.B2bDesktopWe__Image {}

.B2bDesktopWe__Info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.B2bDesktopWe__Link {
  font-weight: 500;
  font-size: 32px;
  text-align: right;
  letter-spacing: -0.7px;
  color: #999999;
  text-decoration: none;
  margin-bottom: 12px;
}

.B2bDesktopWe__GoldDivider {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  height: 2px;
  width: 100%;
}

.MainB2b__MobilePagesList {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 100px;
}

@media (min-width: 769px) {
  .MainB2b__MobilePagesList {
    display: none;
  }
}

.MainB2b__MobilePagesItem {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}

.MainB2b__MobilePagesItem:not(:last-child) {
  margin-bottom: 45px;
}

.MainB2b__MobilePagesLink {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 260px;
  text-decoration: none;
}

.MainB2b__MobilePagesIcon {
  margin-bottom: 18px;
}

.MainB2b__MobilePagesTitle {
  font-weight: 500;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.MainB2b__MobilePagesLink--1 {
  border-radius: 10px 10px 0 0;
}

.MainB2b__MobilePagesLink--2 {}

.MainB2b__MobilePagesLink--3 {}

.MainB2b__MobilePagesLink--4 {}

.MainB2b__MobilePagesLink--5 {
  border-radius: 0 0 10px 10px;
}

.MainB2b__MobilePagesLink--2 .MainB2b__MobilePagesTitle {
  font-size: 24px;
}

.MainB2b__MobilePagesLink--3 .MainB2b__MobilePagesTitle {
  font-size: 24px;
}

.MainB2b__MobilePagesLink--4 .MainB2b__MobilePagesTitle {
  font-size: 24px;
}

.MainB2b__MobilePagesLink--5 .MainB2b__MobilePagesTitle {
  font-weight: 600;
}

.MainB2b__MobileWithYou {
  margin: 0 -20px 30px;
}

@media (min-width: 769px) {
  .MainB2b__MobileWithYou {
    display: none;
  }
}

.MobileWithYou {}

.MobileWithYou__Title {
  padding: 0 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 50px;
}

.MobileWithYou__SplideRoot {
  padding: 0 20px;
}

.MobileWithYou__SplideTrack {}

.MobileWithYou__SplideList {}

.MobileWithYou__SplideSlide {}

.MobileWithYou__Link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.MobileWithYou__Image {}

.MobileWithYou__Text {
  font-weight: 500;
  font-size: 32px;
  line-height: 31px;
  letter-spacing: -0.7px;
  color: #999999;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MobileWithYou__GoldBottom {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  height: 2px;
  width: 100%;
}

.MobileWithYou .splide__arrows {}

.MobileWithYou .splide__arrow {
  background-color: white;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  top: 330px;
  width: 32px;
  height: 32px;
}

.MobileWithYou .splide__arrow.splide__arrow--prev {
  left: 40%;
}

.MobileWithYou .splide__arrow.splide__arrow--next {
  right: 40%;
}
