.MapPageContent {
  padding-top: 100px;
  margin-bottom: 200px;
  position: relative;
}

@media (min-width: 769px) {
  .MapPageContent {
    padding-top: 0;
  }
}

.MapPageContent__MapIframe {
  width: 100%;
  height: 845px;
}

.MapPageContent__Card {
  padding: 90px;
  position: absolute;
  top: 70px;
  right: 20%;
  background: white;
  box-shadow: 0px 5px 130px rgba(0, 0, 0, 0.0788625);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .MapPageContent__Card {
    padding: 40px;
    top: 240px;
    right: 10%;
    margin-left: 50px;
  }
}

.MapPageContent__CardTitle {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.270769px;
  color: #222222;
  margin-bottom: 50px;
}

.MapPageContent__CardSubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.152308px;
  color: #222222;
}

.MapPageContent__CardText {
  font-size: 16px;
  line-height: 28px;
  color: #999999;
  margin-bottom: 15px;
  max-width: 350px;
}

.MapPageContent__CardText > a {
  text-decoration: none;
  color: inherit;
}

.MapPageContent__CardButton {
  display: block;
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 26px 0;
  text-decoration: none;
}