.Menub2b {
  position: sticky;
  top: 0;
  z-index: 3;
}

.Menub2b__Inner {
  height: 86px;
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}

@media (min-width: 769px) {
  .Menub2b__Inner {
    margin: 0;
  }
}

.Menub2b__BigSearchTourLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  box-shadow: 0px 2px 34px rgba(29, 37, 45, 0.1);
  border-radius: 2px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .5s;
}

.Menub2b__BigSearchTourLink:hover {
  color: #e4e4e4;
}

@media (min-width: 769px) {
  .Menub2b__BigSearchTourLink {
    width: 35%;
    max-width: 450px;
    margin: 0;
  }
}

.Menub2b__Navigation {
  display: none;
  width: 0%;
  background: #285C2D;
}

@media (min-width: 769px) {
  .Menub2b__Navigation {
    display: block;
    width: 63%;
    background: #285C2D;
  }
}

.Menub2b__NavigationList {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Menub2b__NavigationItem {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.Menub2b__NavigationDropdownTrigger {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.Menub2b__NavigationDropdownTitle {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.Menub2b__NavigationDropdownArrowIcon {
  margin-left: 10px;
}

.Menub2b__NavigationDropdownBlock {
  display: none;
  position: absolute;
  left: 50%;
  top: 86px;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 32px;
  width: 270px;
  z-index: 10;
  box-sizing: border-box;
}

.Menub2b__NavigationItem:first-child .Menub2b__NavigationDropdownBlock {
  left: 0;
  transform: none;
}

.Menub2b__NavigationItem:last-child .Menub2b__NavigationDropdownBlock {
  left: auto;
  right: 0;
  transform: none;
}

.Menub2b__NavigationItem:hover .Menub2b__NavigationDropdownBlock {
  display: block;
}

.Menub2b__NavigationDropdownList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menub2b__NavigationDropdownItem {
  border-bottom: 1px solid #99999980;
}

.Menub2b__NavigationDropdownLink {
  display: block;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  color: #999999;
  text-decoration: none;
  transition: all .5s;
}

.Menub2b__NavigationDropdownLink:hover {
  color: #285C2D;
}