.News {}

.News__TitleBlock {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.News__TitleBlockLeft {
  display: flex;
  align-items: center;
}

.News__TitleBlockImage {}

.News__TitleBlockText {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.News__TitleBlockRight {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.News__GoldDivider {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  margin-bottom: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 16px;
}

.News__FullWidthLink {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.News__FullWidthLinkInner {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: #999999;
}

ul.News__ArchiveList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  min-height: 800px;
}

.News__ArchiveItem {
  margin-bottom: 20px;
}

.News__ArchiveLink {
  display: flex;
  align-items: center;
}

a.News__ArchiveLink:hover {
  color: #999999;
}

.News__ArchiveManta {
  width: 32px;
}

.News__ArchiveTitle {}

.News__ArchiveDate {
  font-weight: 500;
  font-size: 16px;
  color: #999999;
}

.News__ArchiveReadMore {
  font-weight: 500;
  font-size: 16px;
  color: #285C2D;
}

.News__ArchiveLink > *:not(:last-child) {
  margin-right: 10px;
}