.PagePreview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 364px;
  margin-top: -86px;
  margin-bottom: 100px;
}

.PagePreview--Prive {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.PagePreview--Country {
  height: 780px;
  transform: scaleX(-1);
}

.PagePreview--ResortExpert {
  background-position-x: center;
  background-position-y: 10%;
}

@media (max-width: 768px) {
  .PagePreview--ResortExpert {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .PagePreview--Country {
    height: 456px;
    margin-bottom: 0;
  }
}

.PagePreview--Country > * {
  transform: scaleX(-1);
}

.PagePreview__Inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.PagePreview--Country .PagePreview__Inner {
  justify-content: flex-start;
}

.PagePreview__Title {
  margin: 0;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
}

.PagePreview__Title span {
  font-size: 40px;
}

@media (max-width: 768px) {
  .PagePreview__Title {
    font-size: 40px;
  }
}

.PagePreview--Country .PagePreview__Title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: none;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .PagePreview--Country .PagePreview__Title {
    font-size: 40px;
    margin-bottom: 0;
  }
}

.PagePreview--Prive .PagePreview__Title {
  font-size: 80px;
}

.PagePreview__Manta {
  position: absolute;
  left: -23%;
  top: 8px;
  z-index: 1;
}

.PagePreview__MediaLink {
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.PagePreview__MediaLink:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .PagePreview--Country .PagePreview__MediaLink {
    display: none;
  }
}

.PagePreview__MediaImage {
  width: 40px;
  height: 40px;
  margin-right: 14px;
}

.PagePreview__MediaText {
  height: 40px;
  display: flex;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  transition: all .5s;
}

.PagePreview__MediaLink:hover .PagePreview__MediaText {
  color: #e4e4e4;
}

.PagePreview--Country .PagePreview__HotelLink {
  display: flex;
  margin-bottom: 50px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .PagePreview--Country .PagePreview__HotelLink {
    display: none;
  } 
}

.PagePreview__HotelLinkImageContainer {
  width: 54px;
  z-index: 3;
}

.PagePreview--Country .PagePreview__HotelLinkImage {

}

.PagePreview--Country .PagePreview__HotelLinkText {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-top: 13px;
  text-decoration: none;
}