.REMosaic {
  font-size: 0;
  margin-bottom: 100px;
}

.REMosaic__Card {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25%;
  padding: 1px;
  height: 350px;
}

@media (max-width: 1140px) {
  .REMosaic__Card {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .REMosaic__Card {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
  }
}

.REMosaic__Inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  padding: 1px;
}

@media (max-width: 768px) {
  .REMosaic__Inner {
    padding: 2px;
  }
}

.REMosaic__CardLink {
  height: 100%;
  width: 100%;
  background: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: all .5s;
}

@media (max-width: 768px) {
  .REMosaic__CardLink {
    flex-direction: row;
  }
}

.REMosaic__CardLink:hover {
  background: rgb(246, 246, 246);
}

.REMosaic__CardIcon {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .REMosaic__CardIcon {
    margin-top: 0;
    margin-bottom: 0;
    width: 15%;
    margin-left: 5%;
    margin-right: 10%px;
  }
}

.REMosaic__CardTitle {
  font-weight: bold;
  font-size: 19px;
  color: #202020;
  padding: 0 10%;
  text-align: center;
}

@media (max-width: 768px) {
  .REMosaic__CardTitle {
    text-align: left;
  }
}