.Sale {
    margin-top: 20px;
}

.Sale__Heading {
    display: flex;
    margin-bottom: 60px;
}

.Sale__HeadingImage {
    width: 80px;
    margin-right: 20px;
}

.Sale__HeadingTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-right: 20px;
}

.Sale__HeadingDate {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.Sale__ConditionHeading {
    margin-left: 100px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #285C2D;
}

.Sale__ConditionList {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    list-style: none;
}

.Sale__ConditionItem {
    background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E4BD32 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.Sale__ConditionItemInner {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
}

.Sale__ConditionItemImage {
    width: 58px;
    margin-right: 40px;
}

.Sale__ConditionItemInfo {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.Sale__ConditionItemStep {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #285C2D;
    padding: 10px 35px;
    position: absolute;
    bottom: 0;
    left: 80px;
    transform: translateY(50%);
    background: white;
}

.Sale__ArrowDown {
    position: absolute;
    margin-left: 230px;
    font-weight: 900;
    font-size: 55px;
    line-height: 67px;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.Sale__GreenText {
    margin-top: 150px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #285C2D;
    margin-bottom: 45px;
}

.Sale__BlackText {
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 35px;
}