.Team {
  margin-bottom: 110px;
}

.Team__Heading {
  padding-left: 5%;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}

.Team__HeadingText {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #252D27;
  margin-right: 30px;
}

.Team__HeadingIcon {}

.Team__List {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.Team__Item {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-bottom: 90px;
}

@media (max-width: 850px) {
  .Team__Item {
    width: 33%;
  }
}

@media (max-width: 650px) {
  .Team__Item {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .Team__Item {
    width: 100%;
  }
}

.Team__Link {
  width: 187px;
  height: 257px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Team__PhotoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.Team__Photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transition: all .5s;
  filter: grayscale(100%);
}

.Team__Link:hover .Team__Photo {
  height: 120%;
  filter: grayscale(0);
}

.Team__PhotoGrayOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #97979730;
}

.Team__InfoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 14px;
  transition: all .5s;
  background: #285c2dbb;
}
.Team__Link:hover .Team__InfoContainer {
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E4BD32 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
}

.Team__InfoPreview {
  display: block;
}

.Team__Link:hover .Team__InfoPreview {
  display: none;
}

.Team__InfoName {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.Team__InfoJob {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.Team__InfoDescription {
  display: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
}

.Team__Link:hover .Team__InfoDescription {
  display: block;
}