.TextFormated {
  color: #252D27;
  line-height: 180%;
}

.TextFormated--LightGray {
  color: #999999;
}

.TextFormated--LightGray b {
  color: #252D27;
}

.TextFormated__LinkWithDowloadIcon {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 22px;
}

.TextFormated__LinkWithDowloadIcon span {
  margin-right: 20px;
}

.TextFormated a.TextFormated__BigGreenLink {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #285C2D;
}

.TextFormated--WhoWeAre {
  padding-bottom: 80px;
}

.TextFormated h2 {
  color: #252D27;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: normal;
}

.TextFormated h3 {
  color: #252D27;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px;
}

.TextFormated p {
  font-size: 16px;
  margin-bottom: 40px;
}

.TextFormated a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s;
}

.TextFormated a:hover {
  color: #112713;
}

.TextFormated ul {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 0 0 20px;
}

.TextFormated ol {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 0 0 20px;
}

.TextFormated ol li {
  margin: 0;
  padding: 0 0 0 10px;
}

.TextFormated ul li {
  margin: 0;
  padding: 0 0 0 10px;
}

.TextFormated ol li:not(:last-child) {
  margin-bottom: 20px;
}

.TextFormated ul li:not(:last-child) {
  margin-bottom: 20px;
}

.TextFormated .Warning {
  color: red;
}

.GoldText {
  font-weight: 600;
  background: linear-gradient(89.36deg, #D8BB58 -53.59%, #ECD26E -33.86%, #F4DB76 -21.39%, #E9CC65 4.9%, #CEA53A 56.52%, #C99F33 64.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TextFormated p.TextFormated__BigText {
  font-size: 22px;
}

.TextFormated table {
  width: 100%;
}

.TextFormated__TableHeading {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  border: 1px solid #C4C4C4;
  padding: 20px 3%;
}

.TextFormated__TableHeading--Green {
  background: #DFEDD6;
  text-align: left;
  width: 65%;
}

.TextFormated__TableHeading--Red {
  background: #F8D6BC;
  text-align: right;
}

.TextFormated td {
  border: 1px solid #C4C4C4;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: black;
  padding: 20px 3%;
  text-align: right;
}

.TextFormated td:first-child {
  color: #285C2D;
  padding: 0 3%;
  text-align: left;
}

@media (max-width: 768px) {
  .TextFormated td, .TextFormated th {
    font-size: 12px;
  } 
}

.TextFormated__Table--MoreThanTwo .TextFormated__TableHeading--Green {
  width: auto;
}

.TextFormated .TextFormated__Table--MoreThanTwo td {
  text-align: center;
}

.TextFormated .TextFormated__Table--MoreThanTwo td:first-child {
  text-align: left;
}

.TextFormated .TextFormated__Table--MoreThanTwo .TextFormated__TableHeading--Red {
  text-align: center;
}